body {
	font-family: 'Lora', serif;
	/* background-image: url(../images/bg.jpg); 
     background-repeat: repeat-x; */
	/* background-color:red !important; */
	background-color: transparent !important;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	display: flex;
	/* zoom: .45; */
	justify-content: center;
	padding-left: 30px
}

#form1 {
	margin: 0 auto;
}

.home.bg {
	width: 100%;
	height: auto;
}

.screenImg {
	/* padding-bottom: 20px; */
	text-align: center;
	height: 130px;
	overflow: hidden;
	padding-left: 3%;
}

.screenImg img {
	width: 46%;
	height: auto;
	/* opacity: 0.4;
		-webkit-clip-path: polygon(0% 10%, 10% 65%, 50% 60%, 90% 65%, 100% 10%, 50% -2%);
		clip-path: polygon(0% 10%, 10% 65%, 50% 60%, 90% 65%, 100% 10%, 50% -2%);
		-webkit-filter: blur(1.5px); 
		filter: blur(1.5px); */
}

.seatLayoutPage::-webkit-scrollbar {
	display: none;
}

.seatLayoutPage {
	width: 100vw;
	height: 70vh;
	overflow: scroll;
	/* width: 100%; */
}

.screen {
	height: 2px;
	background-color: #ffffff9e;
	margin: 0 auto;
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.scrnHdr {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px 20px;
}

.sreenTx {
	font-size: .7em;
	color: #ffffff;
	/* color: gray; */
	text-align: center;
	padding: 10px 0px;
}

.screenImg p {
	color: #ffffff9e;
	margin-top: 10px;
	font-size: 13px;
}

.seatTable h1 {
	text-align: center;
	font-size: 14px;
}

.seatTable {
	margin: 0 auto;
	display: inline-block;
	padding: 0px 20px;
	zoom: 1;
}

.table th {
	border: none;
	color: #666;
	font-size: .8em;
	padding: 10px;
	height: 30px;
}

.table thead th {
	border-bottom: none;
}

.table td {
	padding: 0rem;
	vertical-align: top;
	display: inline-block;
}

.table td, .table th {
	padding: 0rem;
	position: relative;
}

.rowHead {
	font-size: 0.3em;
	color: #fff;
	font-weight: normal;
}

.colHead {
	font-size: 14px;
	font-weight: normal;
	color: #ffffff9e;
}


.defChk {
	display: none;
}



.seatTableHdr .table {
	border-collapse: separate !important;
	border-spacing: 20px 0 !important;
}

.default.sold .seatNum {
	display: none;

}


.default .def_icn {
	width: 25px;
	height: 25px;
	object-fit: contain;
	margin: 0px 2px;
}


/* old css */



.seatNum {
	position: absolute;
	font-size: 0.4em;
	left: 0;
	text-align: center;
	top: 23%;
	bottom: 0;
	right: 0;
	color: #ffff;
	z-index: 2;
}



.blank.empty {
	filter: brightness(6.5);
}

.seatAvai {
	width: 6px;
	height: 6px;
	background-color: #f66800;
	border-radius: 100px;
	/* border: 1px solid #ccc; */
	display: inline-block;
	margin-right: 5px;
}

.seatNotAvai {
	width: 6px;
	height: 6px;
	background-color: #3c3c3c;
	border-radius: 100px;
	/* border: 1px solid #ccc; */
	display: inline-block;
	margin-right: 5px;
}

.seatLegend {
	text-align: center;
	margin-top: 20px;
}

.seatLegend div {
	display: inline-block;
	font-size: .5em;
	/* color: #fff; */
}

.msgHdr {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 18px;
	padding: 5%;
	text-align: center;
	color: #000;
}

@media only screen and (max-width:425px) {
	.screenImg img {
		width: 90%;
	}
}

@media only screen and (min-width: 426px) and (max-width:768px) {
	.screenImg img {
		width: 50%;
	}

	.screen {
		width: 30%;
	}
}

.side {
	/* position: absolute; */
	text-align: center;
	display: flex;
}

.front {
	/* transform: translateZ(1em); */
	/* box-shadow: 5px 5px 20px #000; */
}

.side img {
	width: 100%;
	height: 100%;
}

.clr {
	clear: both;
}


.seat input[type=checkbox] {
	position: absolute;
	opacity: 0;
}

.seat input[type=checkbox]:checked+label {
	/* background: #bada55; */
	color: var(--white);
	background-image: url(../../images/icn_seat_select.svg);
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand;
	animation-duration: 300ms;
	animation-fill-mode: both;
	background-repeat: no-repeat;
}

.seat input[type=checkbox]:disabled+label {
	background: #dddddd;
	text-indent: -9999px;
	overflow: hidden;
}

.seat input[type=checkbox]:disabled+label:after {
	content: "X";
	text-indent: 0;
	position: absolute;
	top: 4px;
	left: 50%;
	transform: translate(-50%, 0%);
}

.seat input[type=checkbox]:disabled+label:hover {
	box-shadow: none;
	cursor: not-allowed;
}