:root {

    --primary: #08285B;
    --secndary: #4781FF;
    --secndary_200: #A3C0FF;
    --secndary_100: #EDF2FF;
    --white: #ffff;
    --white_200: #e7e7e72b;
    --black: #000;
    --black_500: #252525;
    --black_200: #6E6E6E;
    --black_150: #E6E9EF;
    --black_300: #8393AD;
    --black_100: #E7E7E7;
    --black_90: #F9F9F9;
    --orange: #F6CE4C;
    --orange_600: #FFBE06;;
    --red: #DE232F;
    --red_200: #F5BDC1;

    --sucess: #169B69;
    --sucess_200: #A2D7C3;

    --fontFamily: 'Montserrat';

    --radius: 7px;
    --shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

    --ft12: 12px;
    --ft14: 14px;
    --ft16: 16px;
    --ft18: 18px;
    --ft22: 22px;
    --ft24: 24px;
    --ft32: 32px;
    --ft40: 40px;
    --ft48: 48px;




}